body {
	background-color: #0099cc;
}

input {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
	border: 0px solid black;
}

button {
	width: 132px;
	height: 50px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	border: 2px solid black;
	background-color: orange;
	border-radius: 3px;
}

button:hover {
	background-color: green;
}

.restartButton {}
.restartButton:hover {
	background-color: red;
}

.rulesTitle {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.revealWordLose {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	background-color: red;
	border: 0px;
	border-radius: 7px;
}

.revealWordWin {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	background-color: limegreen;
	border: 0px;
	border-radius: 7px;
}

.rules {
	text-align: center;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 2px;
}

.bg {
	width: 50px;
	height: 52px;
	background-color: white;
}

.correctPlace {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #ff3232;
}

.correct {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: bold;
	border: 0px solid black;
	border-radius: 30px;
	background-color: orange;
}

.rematch {
	background-color: #ff9900;
	border: 1px solid black;
	padding: 10px 25px;
	font-size: 25px;
	font-weight: bold;
}

.title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.footer {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
